
.yt-live-chat-app {
    background: #2d2f41 !important;
}

#panel-pages.yt-live-chat-renderer {
    width: 100vw !important;
}

yt-live-chat-header-renderer.yt-live-chat-renderer {
    display: flex;
    background: #232533 !important;
    color: #dddde3 !important;
}

yt-icon.yt-live-chat-header-renderer {
    fill: #dddde3 !important;
}

yt-icon.yt-dropdown-menu {
    fill: #dddde3 !important;
}

yt-icon.yt-live-chat-icon-toggle-button-renderer {
    fill: #9b9b9b !important;
}

yt-icon.yt-button-renderer {
    fill: #c9c9c9 !important;
}

yt-live-chat-message-input-renderer {
    padding: 10px !important;
    background: white !important;
}

#content.yt-live-chat-text-message-renderer {
    padding: 2px 4px 2px 4px;
    background: transparent !important;
}

#timestamp.yt-live-chat-text-message-renderer {
    color: #737485 !important;
}

#author-name.yt-live-chat-text-message-renderer {
    color: #ff6948 !important;
}

#message.yt-live-chat-text-message-renderer {
    color: #c7c8d1 !important;
}

#menu.yt-live-chat-text-message-renderer {
    background: transparent !important;
}

#author.yt-live-chat-message-input-renderer {
    color: #c7c8d1 !important;
}

#author-name.yt-live-chat-message-input-renderer {
    color: #6d6d6d !important;
}

#input.yt-live-chat-text-input-field-renderer {
    color: #111111 !important;
}

#label.yt-live-chat-text-input-field-renderer {
    color: #c7c8d1 !important;
}

yt-icon.yt-live-chat-text-message-renderer {
    fill: #dddde3 !important;
}

::-webkit-scrollbar {
    width: 0px !important;
}

#count.yt-live-chat-message-input-renderer {
    color: #6d6d6d !important;
}