
.yt-live-chat-app {
    background: transparent !important;
}

yt-live-chat-header-renderer.yt-live-chat-renderer {
    display: none;
}

yt-icon.yt-live-chat-header-renderer {
    fill: #dddde3 !important;
}

yt-icon.yt-dropdown-menu {
    fill: #dddde3 !important;
}

yt-icon.yt-live-chat-icon-toggle-button-renderer {
    fill: white !important;
}

yt-icon.yt-button-renderer {
    fill: white !important;
}

yt-live-chat-message-input-renderer {
    padding: 10px !important;
    background: rgba(0, 0, 0, 0.75) !important;
    color: white !important;
}

#content.yt-live-chat-text-message-renderer {
    padding: 2px 4px 2px 4px;
    background: rgba(0, 0, 0, 0.75) !important;
}

#timestamp.yt-live-chat-text-message-renderer {
    color: #737485 !important;
}

#author-name.yt-live-chat-text-message-renderer {
    color: #ff6948 !important;
}

#message.yt-live-chat-text-message-renderer {
    color: #c7c8d1 !important;
}

#menu.yt-live-chat-text-message-renderer {
    background: transparent !important;
}

#author.yt-live-chat-message-input-renderer {
    color: white !important;
}

#author-name.yt-live-chat-message-input-renderer {
    color: white !important;
}

#input.yt-live-chat-text-input-field-renderer {
    color: white !important;
}

#label.yt-live-chat-text-input-field-renderer {
    color: white !important;
}

yt-icon.yt-live-chat-text-message-renderer {
    fill: #dddde3 !important;
}

::-webkit-scrollbar {
    width: 0px !important;
}

#count.yt-live-chat-message-input-renderer {
    color: white !important;
}

#count.yt-live-chat-message-input-renderer {
    color: white !important;
}